<!-- Nút để hiện modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#loginModal"
>
  Đăng nhập
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">ĐĂNG NHẬP</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">EMAIL</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">MẬT KHẨU</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-success w-100 mt-4">
            ĐĂNG NHẬP
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
